<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <title>Developers Information</title>
</head>

<body>
  <section class="primarySection">
    <%- include("./headers/nav.ejs") %>
  </section>

  <section class="secondarySection">
    <div class="Container">
      <h2>Welcome To Developers Information</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa sunt voluptatibus soluta, officiis illum facilis saepe amet impedit. Rem consequatur ut adipisci mollitia voluptatum magni placeat perferendis non? Officia, esse!</p>
    <br>
      <a id="bdev" href="/create">Create</a>
    </div>
  </section>

  
</body>

</html>
