<nav>
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./create">Create</a></li>
        <li><a href="./developers">Developers</a></li>
        <li><a href="./discord">Discord</a></li>
        <li><a href="./Author">Author</a></li>
    </ul>
</nav>